In [5]:
import pandas as pd
from scipy.interpolate import PchipInterpolator
import numpy as np

In [9]:
df = pd.read_csv('BMED_DATA.csv')

df_ag = pd.DataFrame()

for exp_num in df['exp'].unique():
    exp_data = df[df['exp'] == exp_num]

    # For each experiment, generate new time points at 0.25 intervals up to the end time.
    new_times = np.arange(0, exp_data['time'].max() + 0.25, 0.25)

    # The columns to be interpolated
    columns_to_interpolate = ['VF', 'VA', 'VB', 'CFLA', 'CALA', 'CFK', 'CBK', 'I']

    # Generate temporal dataframe to save the interpolation results for all columns
    temp_df = pd.DataFrame({
        'exp': exp_num,
        'V': exp_data['V'].iloc[0],
        'E': exp_data['E'].iloc[0],
        't': new_times
    })

    # apply the monotonic cubic interpolation for each column
    for col in columns_to_interpolate:
        interpolator = PchipInterpolator(exp_data['time'], exp_data[col])
        temp_df[col] = interpolator(new_times)
    
    # add the results to main dataframe
    if df_ag.empty:
        df_ag = temp_df
    else:
        df_ag = pd.concat([df_ag, temp_df], ignore_index=True)

In [11]:
# save CSV file
df_ag.to_csv('BMED_DATA_AG.csv', index=False)

In [8]:
df

,V,E,time,CFLA,CALA,CBLA,CFK,CAK,CBK,VF,VA,VB,I,exp
0,20,0.25,0.000000,0.466577,0.000180,0.000134,1.032454,0.000000,0.007974,1.000000,1.000000,1.000000,0.0,1
1,20,0.25,1.000000,0.456546,0.000369,0.000856,1.000113,0.000000,0.020518,1.020000,0.990000,0.990000,0.1,1
2,20,0.25,2.000000,0.428426,0.000995,0.001767,0.640328,0.000000,0.363585,1.083612,0.963211,0.953177,0.2,1
3,20,0.25,3.000000,0.420572,0.002938,0.002727,0.602190,0.000000,0.401175,1.097315,0.956376,0.946309,0.3,1
4,20,0.25,4.000000,0.407102,0.013237,0.003645,0.521593,0.002399,0.491893,1.107383,0.956376,0.936242,0.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,35,0.50,2.933333,2.519740,0.593376,0.017088,1.108110,0.015850,0.786465,1.040404,1.010101,1.949495,4.2,43
231,35,0.50,3.933333,2.341177,1.138123,0.031161,0.671995,0.023040,1.052081,0.793893,1.170483,2.035623,4.4,43
232,35,0.50,4.933333,1.661372,1.685082,0.048185,0.355064,0.016776,1.165557,0.585859,1.292929,2.121212,4.4,43
233,35,0.50,5.933333,0.266533,2.103485,0.062317,0.046098,0.013334,1.177029,0.288660,1.443299,2.268041,3.5,43
234,35,0.50,6.933333,0.053150,2.125590,0.074912,0.004635,0.013706,1.155904,0.237113,1.443299,2.319588,1.0,43