In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('BMED_DATA_AG.csv')

In [11]:
df[(df['V'] == 10) & (df['t'] == 0.00)]

,exp,V,E,t,VF,VA,VB,CFLA,CALA,CFK,CBK,I
238,10,10,0.25,0.0,1.0,1.0,2.0,1.000945,0.000005,1.940223,0.009567,0.0
351,15,10,0.25,0.0,1.0,1.0,2.0,2.968114,0.000407,5.156121,0.036919,0.0

In [12]:
df[(df['V'] == 20) & (df['t'] == 0.00)]

,exp,V,E,t,VF,VA,VB,CFLA,CALA,CFK,CBK,I
0,0,20,0.25,0.0,1.0,1.0,1.0,0.495147,0.000518,1.083763,0.011514,0.0
463,19,20,0.25,0.0,1.0,1.0,1.0,0.478868,0.000378,0.955205,0.007936,0.0
492,20,20,0.25,0.0,1.0,1.0,2.0,0.966183,0.000276,1.886383,0.008641,0.0

In [13]:
df[(df['V'] == 30) & (df['t'] == 0.00)]

,exp,V,E,t,VF,VA,VB,CFLA,CALA,CFK,CBK,I
17,1,30,0.25,0.0,1.0,1.0,1.0,0.504280,0.000005,1.018588,0.007420,0.0
38,2,30,0.25,0.0,1.0,1.0,1.0,0.992781,0.001209,1.935953,0.014723,0.0
59,3,30,0.25,0.0,1.0,1.0,1.0,0.920709,0.000005,1.885945,0.009237,0.0
84,4,30,0.25,0.0,1.0,1.0,1.0,0.971221,0.000005,1.994377,0.009654,0.0
105,5,30,0.25,0.0,1.0,1.0,2.0,0.994746,0.000005,1.919276,0.008820,0.0
126,6,30,0.25,0.0,1.0,1.0,2.0,0.982024,0.000005,1.913719,0.008859,0.0
155,7,30,0.25,0.0,1.0,1.0,2.0,0.984917,0.001571,1.883169,0.009215,0.0
184,8,30,0.25,0.0,1.0,1.0,2.0,2.913728,0.001857,5.170735,0.578375,0.0
213,9,30,0.25,0.0,1.0,1.0,2.0,0.988266,0.000397,1.933173,0.011154,0.0
255,11,30,0.25,0.0,1.0,1.0,2.0,2.835137,0.008910,5.054993,0.052573,0.0
276,12,30,0.25,0.0,1.0,1.0,2.0,2.552169,0.000005,5.093958,0.016274,0.0
297,13,30,0.25,0.0,1.0,1.0,6.0,2.628349,0.000005,4.949571,0.014336,0.0
322,14,30,0.25,0.0,1.0,1.0,3.0,3.152776,0.000737,5.314771,0.019579,0.0
380,16,30,0.25,0.0,1.0,1.0,6.0,2.899257,0.009339,5.264515,0.036191,0.0
413,17,30,0.25,0.0,1.0,1.0,2.0,1.015535,0.000312,2.077623,0.009147,0.0
438,18,30,0.25,0.0,1.0,1.0,3.0,3.156178,0.001127,5.508753,0.017213,0.0

In [14]:
df[(df['V'] == 35) & (df['t'] == 0.00)]

,exp,V,E,t,VF,VA,VB,CFLA,CALA,CFK,CBK,I
521,21,35,0.25,0.0,1.0,1.0,2.0,3.368494,0.000164,2.651703,0.016792,0.0
542,22,35,1.00,0.0,1.0,1.0,2.0,3.335015,0.001529,2.667223,0.016274,0.0
563,23,35,0.50,0.0,1.0,1.0,2.0,3.253951,0.000280,2.667223,0.015886,0.0

,exp,V,E,t,VF,VA,VB,CFLA,CALA,CFK,CBK,I
17,1,30,0.25,0.0,1.0,1.0,1.0,0.504280,0.000005,1.018588,0.007420,0.0
38,2,30,0.25,0.0,1.0,1.0,1.0,0.992781,0.001209,1.935953,0.014723,0.0
59,3,30,0.25,0.0,1.0,1.0,1.0,0.920709,0.000005,1.885945,0.009237,0.0
84,4,30,0.25,0.0,1.0,1.0,1.0,0.971221,0.000005,1.994377,0.009654,0.0
105,5,30,0.25,0.0,1.0,1.0,2.0,0.994746,0.000005,1.919276,0.008820,0.0
126,6,30,0.25,0.0,1.0,1.0,2.0,0.982024,0.000005,1.913719,0.008859,0.0
155,7,30,0.25,0.0,1.0,1.0,2.0,0.984917,0.001571,1.883169,0.009215,0.0
184,8,30,0.25,0.0,1.0,1.0,2.0,2.913728,0.001857,5.170735,0.578375,0.0
213,9,30,0.25,0.0,1.0,1.0,2.0,0.988266,0.000397,1.933173,0.011154,0.0
255,11,30,0.25,0.0,1.0,1.0,2.0,2.835137,0.008910,5.054993,0.052573,0.0
276,12,30,0.25,0.0,1.0,1.0,2.0,2.552169,0.000005,5.093958,0.016274,0.0
297,13,30,0.25,0.0,1.0,1.0,6.0,2.628349,0.000005,4.949571,0.014336,0.0
322,14,30,0.25,0.0,1.0,1.0,3.0,3.152776,0.000737,5.314771,0.019579,0.0
380,16,30,0.25,0.0,1.0,1.0,6.0,2.899257,0.009339,5.264515,0.036191,0.0
413,17,30,0.25,0.0,1.0,1.0,2.0,1.015535,0.000312,2.077623,0.009147,0.0
438,18,30,0.25,0.0,1.0,1.0,3.0,3.156178,0.001127,5.508753,0.017213,0.0